.screenCenter{
    bottom: 50%;
    left: 50%;
}
li.nav-item a{
    text-transform: uppercase;
    letter-spacing:  2px;
}
.custom-footer{
    background-color: #373f46;
    color: #fff;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form.custom-form{
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}
.custom{
    font-size:  0.8rem;
}
.position-fixed.custom{
    top: 60px;
    bottom:16px;
    position:fixed;
    overflow-x:hidden;
}
.card.custom{
    position: inherit;
}
.result{
    position: inherit;
    text-align: left;
}
.card-elements{
    display: flex;
    flex-wrap: wrap;
}
.item-list .card{
    width: 100%!important;
}
.slide-fade-enter-active, .slide-fade-leave-active{
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to{
    transform: translateX(10px);
    opacity: 0;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}
.loader{
    position: absolute;
    top: 30%;
    left: 44%;
}