
li.nav-item a{
    text-transform: uppercase;
    letter-spacing:  2px;
}
.custom-footer{
    background-color: #373f46;
    color: #fff;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form.custom-form{
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}
.card.custom{
    position: inherit;
}
.result{
    position: inherit;
    text-align: left;
}
.card-elements{
    display: flex;
    flex-wrap: wrap;
}
.item-list .card{
    width: 100%!important;
}

